*{
  font-family: "Roboto",sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  height: auto;
  overflow-y: scroll;
}
.login-page{
height: 440px;
/* width: 400px; */
display: flex;
flex-direction: column;

/* justify-content: center;
align-items: center; */

}
.login-info{
  display: flex;
  flex-direction: column;
  height: 415px;
  flex-direction: column;
/* justify-content: center; */
align-items: center;
margin: auto;
border: 1px solid black;
width: 350px;
margin-top: 10px;
border: 1px solid rgb(226, 226, 226);
/* box-shadow: inset 1px 1px 1px rgb(223, 222, 222); */



}
.insta-logo{
  margin-top: 20px;
height: 120px;
width: 190px;
/* display: flex; */
}

.ph-num , .password{
  height: 20px;
  width: 250px;
  font-size: 12px;
  color: rgb(9, 8, 8);
  padding:8px 8px;
  border: 1px solid rgb(188, 186, 186);
  border-radius: 3px;
  font-weight: 300;
  background-color: rgb(248, 248, 248);
  margin-bottom: 8px

}

.log-in-button{
  margin-top: 5px;
  height: 32px;
  width: 268px;
  font-size: 14px;
  color: rgb(9, 8, 8);
  /* padding:8px 8px; */
  border: 1px solid rgb(188, 186, 186);
  border-radius: 8px;
  font-weight: 300;
  background-color: rgb(248, 248, 248);
  margin-bottom: 60px;
  background-color: rgb(89, 165, 251);
  color: 
  white;
}
.login-fb{
  display: flex;
  flex-direction: row;
}
.fb-logo{
  height: 15px;
  margin-right: 6px;


}
a{
  text-decoration: none;
  color: rgb(3, 45, 130);
  
}

.login-with-fb{

 font-size: 14px;
margin-bottom: 25px;
 font-weight: 450;
 letter-spacing: 0.5px;
}

.forgot-password{
  font-size: 13px;
 font-weight: 100;
 color: rgb(63, 63, 242);
}

.Sign-up{
  height: 60px;
  display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
margin: auto;
border: 1px solid black;
width: 350px;
border: 1px solid rgb(226, 226, 226);
/* box-shadow: inset 1px 1px 1px rgb(223, 222, 222); */
margin-bottom: 20px;


}
.Sign-up p{
  font-size: 14px;
}

.Sign-up span{
  color: rgb(0, 136, 255);
 
}

.get-the-app{
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.get-it-on{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
 
}
.google-play{
  width: 150px;
  height: 60px;
 

}
.microsoft{
  width: 125px;
  height: 40px;
  margin-top: 10px;
}
.footer{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  margin-bottom: 30px;
  
  
}
.footer a{
  font-size: 12px;
  color: gray;
  margin-right: 10px;

}

.footer a:hover{
  cursor: pointer;
  text-decoration: underline;
}