._ac06{display:flex;flex-direction:column;flex-grow:1;justify-content:center;margin:var(--scrollable-content-header-height) 0;overflow:hidden}._ac05{z-index:10}._ac04{display:inline-block;margin-top:2px;vertical-align:middle}
._abya{background-color:rgb(var(--ig-primary-background));border:1px solid rgb(var(--ig-elevated-separator));border-radius:3px;margin:60px auto 0;max-width:935px;overflow:hidden}._abya:empty{border:none}
._ac8f{display:flex;flex-direction:column;margin-bottom:8px}/*FB_PKG_DELIM*/

#bootloader_7tPMNBc{height:42px;}.bootloader_7tPMNBc{display:block!important;}